
#dialog {
    display: none;
}

button {
    margin-right: 3px;
}

#add_button {
    margin-top: 1em;
    margin-bottom: 2em;
}

body {
    background-color:white;
}

ul {
    background-color: whitesmoke;
    padding: 2em;
    border-radius: 1%;
}
